[2017-12-02 10:07] rugk opened #1 "Tab bar"
Did you have a look at https://github.com/Aris-t2/CustomCSSforFx/? They also have some "experimental" code to move "tabs not on top".

[2017-12-02 10:21] mvhirsch opened #2 "Support light theme"
Hi! Great job you've done so far!
Many thanks, I'll try this one out later, so please keep on coding.

One question: would it be possible to support a light (like adwaita) variant?
I could even help in modifying your theme to support both (if you wish).

greets.

[2017-12-02 11:56] lunakurame commented on #1
I've seen that repo before, but didn't notice they move the tab bar to the bottom too. I see they are using the `-moz-box-ordinal-group` CSS property instead of `-moz-box-direction: reverse`, and it moves just the tab bar without flipping everything else. I'll fix the code soon, thanks for letting me know!

[2017-12-02 12:27] lunakurame commented on #2
I'm glad you like it! :D
It shouldn't be hard to make a light version of this theme, the only thing that's different is really just the colors. I think I'll extract all the colors to CSS variables, so it's easy to replace them with just a single rule. I'll let you know when I do it.

[2017-12-02 13:06] #1 closed

[2017-12-04 20:01] lunakurame commented on #2
Light theme is now supported, but needs to be enabled manually (because in CSS there is no way to detect which GTK variant are you using), see README. BTW, I found a few bugs with the URL bar and fixed them, so both variants look better now.

[2017-12-05 08:18] ghost commented on #2
Great work, thanks. I've noticed a few issues:
- all favicons are greyscale (I'm assuming it's intentional on the dark theme)
- tab titles don't seem to scale: the text is pretty small on a high res screen, [example](https://imgur.com/iwhqN7R)
- likewise, backward/forward doesn't seem to scale as it should, [example](https://imgur.com/dYsOWrQ)
- there's a strange bit of whitespace at the end of th

[2017-12-06 02:11] lunakurame commented on #2
1. Actually it's intentional for both dark and light variant. I find colorful icons annoying on the dark variant, so I use a set of filters to get rid of the colors and adjust brightness / contrast to make them look kinda like symbolic icons:

[code]

	It's not perfect, because every website has a totally different icon, while I can only use the same filters for all of them, but it looks nice in m

[2017-12-06 07:23] ghost commented on #2
I'm using Firefox 57, and using 1.2x font size to scale the UI until fractional scaling is available. No other configurations as far as I know. I guess the issue is caused by Firefox itself, because on the default theme the 'Previous' button is also larger.

No idea about any internal Epiphany pages, I was actually only thinking of about:overview and how about:newtab in Firefox could use the same

[2017-12-06 18:28] smithfred opened #3 "Client-side decorations mode support"
Nice work on this :)

Would be great to have full support for Moz's new/upcoming client-side decorations mode. AFAIK it's not available in vanilla FF57, but Fedora have patched in support (you could test it in a VM if you're using a different distro), and I believe it's also available on FF nightly. The relevant about:config key is widget.allow-client-side-decoration.

At the moment, the theme mor

[2017-12-07 10:34] worldofpeace opened #4 "Not An Issue: This is great!"
Thanks for making this and sharing it with other people. I love it. I'm using this everywhere now. :+1:  :smile:

[2017-12-07 12:50] lunakurame commented on #3
Thanks! I will add CSD support when it's available, of course, but I just checked and it's not available on FF nightly (59.0a1-20171207100053) yet. The key is not present and when I add it manually, it does nothing. I'll take a look at Fedora's patched version when it finishes downloading and see what I can do.

[2017-12-07 14:28] thyeun opened #5 "possible to have a curve tab?"
As show as below picture

![selection_004](https://user-images.githubusercontent.com/1939446/33720103-e119b74a-db9d-11e7-8272-6a8c392800b3.png)

[2017-12-09 10:17] ghost commented on #5
Adwaita doesn't have curved tabs.

[2017-12-09 20:09] lunakurame commented on #4
That's really nice, I made this theme just to see if I could write kinda Adwaita-like styles for the new Firefox, since it broke most of my old add-ons. It's cool that it actually turned out to be something useful. And not just for me, but for others too. I'm glad you like it! :D

[2017-12-09 20:22] lunakurame commented on #5
Yeah, I'm not gonna add this, because Adwaita doesn't have curved tabs, and I don't even know how to make it look like that. You can add curved corners at the top of the active tab like this:

[code]

But I don't know how to make those curves at the bottom and it probably wouldn't work with this theme anyway (because of space between tabs and border-bottom of the active tab).

[2017-12-09 20:23] #5 closed

[2017-12-10 17:41] lunakurame commented on #3
Okay so looks like I can't run Firefox' dev tools in a virtual machine, because the whole VM just freezes. When I run Fedora's Firefox in a VM using the host system's X server via ssh it doesn't crash *immediately*, still lags so hard it's barely usable, but I managed to write this piece of code. Looks like this:

![Experimental CSD support for Fedora](https://i.imgur.com/SAOW227.png)

It's still

[2017-12-11 12:34] garrett opened #7 "Screenshot mode is broken"
Using the (new to Quantum, aka 57+) screenshot tool from the awesomebar (icon in the URL bar, or in its overflow menu) causes the page to turn completely black, making precise selection of screenshots impossible.

## Selecting the screenshot feature

![firefox-screenshot-menu](https://user-images.githubusercontent.com/10246/33831259-9d241efe-de77-11e7-9508-bd182df75944.png)

## Black background

(

[2017-12-11 12:35] garrett opened #8 "Tab drag and drop collapses height"
When dragging tabs to re-order, all tabs — the active being dragged as well as the inactive tabs in the tab strip —  collapse their height to the label.

[2017-12-11 12:42] garrett opened #9 "Consider migrating to gnome-integration-team?"
I really love what you've done with theming Firefox.

Would you like to consider migrating to https://github.com/gnome-integration-team/ ?

Moving repos to organizations helps with teamwork.

I think your implementation of a Firefox theme is the only way we have to move forward to make Firefox fit on with GNOME (at least for the time being). The new theme API will most likely not get everything ne

[2017-12-11 12:44] garrett opened #10 "Closing tabs shifts tab width"
We had this bug at some times in our theme implementation too, especially when tab widths are forced:

When you're closing a tab and the mouse is still over the tab strip, the tab widths change, so you're not necessarily over the next tab. This can cause someone closing a lot of tabs in a row (either when using the X button or middle-clicking a tab) a bit of a problem, as the tabs will have shifte

[2017-12-11 13:06] garrett opened #11 "Pinned tabs are not tall enough when tab strip is in overflow mode"
When there are enough tabs to cause Firefox's overflow to happen, pinned tabs are no longer tall enough.

(This is possibly related to #8.)

[2017-12-11 13:10] garrett opened #12 "Automatically select dark or light theme"
Instead of editing the CSS to add an include, automatically select the dark or light theme.

It can probably be keyed based on the window element with a specific attribute like:

[code]
...for dark mode

and

[code]
...for light mode.

There might need to be more matches; I didn't test this for native light/dark themes, only the switch in customize.

[2017-12-11 13:20] garrett commented on #7
## Correct: Hover

When the element is hovered, it is still screened, but not as much as the rest of the background:

![firefox-screenshot-hover](https://user-images.githubusercontent.com/10246/33832953-3618b98e-de7e-11e7-9dec-17b9c5a57fc6.png)

## Correct: Active

When the element is clicked, it looks like this (fully visible, with handles around it to adjust):

![firefox-screenshot-active](https

[2017-12-11 18:16] lunakurame commented on #7
This is because `userContent.css` overrides Firefox' default page background color:

[code]

I haven't added a `userContent.css` file for the light variant yet (it's a bit more tricky since `@import` doesn't work due to a bug in Electrolysis: https://bugzilla.mozilla.org/show_bug.cgi?id=1416184), so you might as well just delete that file if you're using the light variant. I see the screenshot too

[2017-12-11 18:19] #7 closed

[2017-12-11 18:41] Gert-dev commented on #2
Something minor I noticed is that on the light theme, the settings pages are still dark and the default page background color for some HTML elements still appears to be grey-ish, like with the dark theme. Not sure if that's a TODO, but wanted to mention it anyways.

[2017-12-11 18:42] Gert-dev opened #13 "Center page title inside tabs"
Great work on this theme! A minor detail I noticed is that the page titles inside the tabs are not centered, which does seem to be the case with actual GTK tabs, such as used in epiphany.

[2017-12-11 19:27] lunakurame commented on #2
@Gert-dev
That's because the `userContent.css` file makes all Firefox' internal pages dark and there isn't a version for the light variant yet. I was hoping to make it similar to the `userChrome.css` file, where you can toggle between the light and dark theme, but looks like I can't do it because of a bug with Firefox' Electrolysis engine: https://bugzilla.mozilla.org/show_bug.cgi?id=1416184. For

[2017-12-11 21:09] lunakurame commented on #10
Looks like our CSS is fighting with Firefox' JS. The theme overrides max-width while JS is trying to set max-width too. I fixed it by letting JS do its thing, except for one specific case:

1. Open 4 tabs (or any higher number of tabs, but not enough to let them scroll).
2. Activate the second to last tab.
3. Close it.
4. Close the last tab.

For some reason it shrinks all tabs to exactly 100px an

[2017-12-11 21:22] folknor opened #14 "@import local files for convenience"
Hi!

So I already had both custom userContent.css and userChrome.css, but of course I have to use yours, they are so fantastic.

Which means I merged yours with my local ones, but it's a pain to update.

Can you possibly add something equivalent to

`@import "localContent.css"` and `@import "localChrome.css"` at the bottom of your CSS files? Then I could just `git pull` and put my own selectors in

[2017-12-11 21:24] folknor commented on #14
I realise that this might have unintended consequences that we are unable to foresee.
And also that there might be some better way of doing it that I haven't considered.

[2017-12-11 21:47] folknor commented on #14
I didn't think this through at all - @import statements obviously have to be at the top of the file.
I filed this request before I did any investigation into the issue, which was a mistake.

Hopefully we can think about the issue and come up with some solution.

[2017-12-11 21:57] folknor commented on #14
Alright, what I did instead is:
1. `git clone` this to some folder
1. `cd ~/.mozilla/firefox/0xdeadbeef/chrome`
1. `ln -s /home/user/git/firefox-gnome-theme/ theme`

Then I put this in userChrome.css above my content:
`@import "theme/ui/theme-light.css";`

And this in userContent.css above my content:
`@import "theme/userContent.css";`

So I'll close this issue now. Apologies for the spam!

[2017-12-11 22:06] lunakurame commented on #14
Hi!
Thanks for your kind words. Actually I wanted to add that feature for quite a while, because I do have my own custom styles too. I haven't updated my own setup for like a week because I'm too lazy to merge them in. Unfortunately `@import` doesn't work in the `userContent.css` file due a bug in Electrolysis (Firefox' multi-process rendering engine): https://bugzilla.mozilla.org/show_bug.cgi?id=

[2017-12-11 22:28] folknor commented on #14
Ah, yes, I have e10s disabled, and have apparently for a long time. I always run firefox nightly built from source, and have done that for probably over 10 years on linux. Which means that I sometimes have to explicitly disable new features that keep crashing - `browser.tabs.remote.autostart.2` set to `false` is apparently one of them.

But yes, @import does work for me with e10s disabled. That is

[2017-12-11 22:39] folknor commented on #14
Hm, so, there's no doubt that I have e10s enabled now after resetting some preferences (`about:support` says "Multiprocess Windows 	2/2 (Enabled by default)"), and @import from userContent.css is definitely working for me.

https://dxr.mozilla.org/mozilla-central/source/security/sandbox/linux/broker/SandboxBrokerPolicyFactory.cpp#466

This is the first rule of my userContent.css:
[code]

And I can

[2017-12-11 23:05] lunakurame commented on #14
Well this is weird. Something just randomly started working for me. I've got two keys in my `about:config`:
- browser.tabs.remote.autostart
- browser.tabs.remote.autostart.2

By default the first one is set to false and the second one to true. If I enable both, nothing changes. If I disable the second one, `about:support` shows "Multiprocess Windows" is disabled. When I enable the first one, but d

[2017-12-12 13:57] folknor commented on #14
[code]

As far as I can see, `browser.tabs.remote.autostart.2` has no impact at all, which is backed up by the lack of any result from DXR on it: https://dxr.mozilla.org/mozilla-central/search?q=browser.tabs.remote.autostart&redirect=false

[2017-12-12 14:09] folknor commented on #14
https://dxr.mozilla.org/mozilla-central/source/toolkit/modules/Troubleshoot.jsm#212 explains what "Web Content Processes" means:

[code]

ppmm implements, according to https://developer.mozilla.org/en-US/docs/Mozilla/JavaScript_code_modules/Services.jsm "nsIMessageBroadcaster" and "nsIProcessScriptLoader"

https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XPCOM/Reference/Interface/nsIMessageBr

[2017-12-12 18:40] rafaelmardojai commented on #3
![captura de pantalla de 2017-12-12 13-33-28](https://user-images.githubusercontent.com/6210397/33901951-6ec3ea92-df41-11e7-834e-4e2ac2ba0089.png)

@kurogetsusai I am working on it (i use fedora), i will share it when is finished.

Styles from https://git.gnome.org/browse/gtk+/plain/gtk/theme/Adwaita/gtk-contained-dark.css.

[2017-12-12 19:24] smithfred commented on #3
Looking great already! :)

[2017-12-12 22:54] rafaelmardojai commented on #3
Please, test the progress here https://github.com/rafaelmardojai/firefox-gnome-theme/

Currently only work for Adwaita-dark.
For window buttons options edit `userChrome.css`.

![captura de pantalla de 2017-12-12 17-52-51](https://user-images.githubusercontent.com/6210397/33912843-6a46b566-df65-11e7-8bec-d0b277206a29.png)

![captura de pantalla de 2017-12-12 17-51-44](https://user-images.githubuser

[2017-12-15 00:39] lunakurame commented on #3
That looks awesome on your screenshots, good job! I can't really test it since I don't use Fedora, I managed to run it in a VM but it crashed after like 10 seconds. What's with that theme tho? It looks different than my dark Adwaita. I'm using GNOME 3.18.5, maybe we should add different versions too, since yours appears to be different? Only the variant files would be different, they only contain

[2017-12-15 00:51] lunakurame commented on #3
Also I noticed Mozilla added native CSD support to Firefox Nightly (at least it is present in FF 59.0a1-20171214220032), but it's not the same patch that Fedora uses. It can be enabled by going to Customize → uncheck the Title Bar option. Since it's different than Fedora's patch, the styles @rafaelmardojai wrote need some adjustments to work with FF Nightly properly. I'll correct them later, when

[2017-12-15 01:18] lunakurame commented on #9
Thanks, I'm glad you like my theme and I appreciate your help.

Thank you for your invitation. I think I could move the repo to GNOME Integration Team if it helps and I could definitely use some help with resolving all those issues people reported, but I'm not familiar with organizations here and I'd like to understand what I'm about to do before I do it. I just read GitHub's help topics related t

[2017-12-15 01:45] lunakurame commented on #14
I see you are talking about Firefox Nightly again. I just checked and it does work as you describe it. However, Firefox 57, which is the current stable release, still has this problem: https://dxr.mozilla.org/mozilla-release/search?q=browser.tabs.remote.autostart. Firefox 58.0b5 appears to behave like FF Nightly, so at least I'm glad it's gonna be fixed as soon as the new release rolls out.

Anywa

[2017-12-15 03:41] rafaelmardojai commented on #3
@kurogetsusai, yes i customized it to match 3.26. I edited `theme.css` to add the variable `--gnome-headerbar-button-bottom-border-color` to follow 3.26 design (buttons have a diferent border color at the bottom), nothing is break with CDS disabled.

Maybe for Firefox Nightly CSD  we should add `csd.css` (i think is the same patch of Fedora made by Martin Stransky but more updated).
I'm working on

[2017-12-15 04:06] lunakurame commented on #14
Okay after trying to implement this, I noticed `@import` doesn't work for HTML content in Firefox 57 if any of those are set to true:

- browser.tabs.remote.autostart
- browser.tabs.remote.autostart.2

I don't know why it worked before with `browser.tabs.remote.autostart` enabled, maybe they implemented a RNG... Anyway, I give up with that bug, either you disable e10s or you can't use `userContent

[2017-12-15 04:06] #14 closed

[2017-12-15 07:01] rafaelmardojai commented on #3
Hey!
I just updated my fork, with your new changes, and Firefox Nightly CSD support.

![firefox-nativejh](https://user-images.githubusercontent.com/6210397/34030543-80af13ac-e13b-11e7-8b89-040d3155e4cb.png)

[2017-12-15 17:08] lunakurame commented on #3
Well, that's pretty much done, so I'll merge your changes into my repo. Well done, you're good at this. 😛

[2017-12-15 18:45] lunakurame commented on #3
Merged, fixed minor bugs, tested all color variants on FF 57, 58, 59, everything seems to work (CSD works only on 59 and 57 with Fedora's patch, of course), so I'm closing this. Thanks again! :D

[2017-12-15 18:45] #3 closed

[2017-12-15 19:16] ghost commented on #3
@rafaelmardojai, can you also create a light version of the 3.26 theme? Thanks for your work!

[2017-12-16 02:50] lunakurame commented on #13
Thanks! Tab labels should be centered now, like in Epiphany.

[2017-12-16 03:11] lunakurame commented on #8
I couldn't reproduce this bug for quite a while, on Firefox 57 everything seems to work well, but now I finally noticed it on FF 58 and 59. The theme does have a few problems on FF 58+, I'll take a look at them. Thanks for reporting.

[2017-12-16 03:32] lunakurame commented on #11
Turned out not to be related to #8, I just accidentally broke it in commit 476ef93cc1f5dc8878aeaaa122ca97606e01fdbb. It should be working properly now, thanks for reporting that bug.

[2017-12-16 03:32] #11 closed

[2017-12-16 04:11] lunakurame commented on #12
That would certainly be useful, but at this point we already have 3 theme variants (and there will be more, because of different GNOME versions), as well as a few extra options like client-side decorations settings and symbolic icons, which means some options would have to be enabled in the CSS file anyway. Besides, switching those built-in themes currently breaks too much of existing code and it

[2017-12-16 04:11] #12 closed

[2017-12-16 11:10] Gert-dev commented on #13
Thanks, already looks better!

Also, not sure if this is desired or even possible, but I noticed in Epiphany the (fav)icons are centered as well, next to the centered tab title.

[2017-12-16 14:33] rafaelmardojai commented on #3
@d9h20f of course, when i have some free time i will do it.

[2017-12-17 01:14] lunakurame commented on #13
You're right. I just spent an hour trying to figure it out, but nothing works. Either everything is centered, including the close button and tab mute icon, or the icon isn't. I'm out of ideas so I'll label this issue as "help wanted" and maybe someone figures it out.

[2017-12-17 22:17] rafaelmardojai commented on #13
I have spent my sunday trying to solve this XD.

Apparently works fine, but maybe is broken in some case, let me know.

Pd: Do we put it directly in `theme.css` or create a new experimental feature?

[code]

[2017-12-18 03:04] lunakurame commented on #13
That's pretty cool! Just tested it on FF 57, 58 and 59, seems to work nicely. I haven't found any bugs and the code looks solid. It's a standard GTK behavior to center tab labels and it doesn't depend on any specific FF version (unlike client-side decorations), so I think you can add it directly to the `theme.css` file. Also you can remove what I added in 2a9708ac7fd8cde2ebfbb09630fde1d50573c305,

[2017-12-18 06:11] #13 closed

[2017-12-18 20:25] lunakurame commented on #2
Okay so let me review the points above.

1. Fixed.
2. Fixed, .9em looks like the rest of GTK apps for me, it might be 1em for you, because it's a different font, so it scales differently, you can try using Cantarell for Firefox' tabs instead but the last time i checked it didn't work well. Also fractional scaling works fine since GNOME 3.22 iirc, but only on Wayland, which doesn't work with my set

[2017-12-19 17:17] lunakurame commented on #2
About point 2: actually Cantarell works fine now, I don't know why it didn't work before. So since the font is the same, it should scale properly for you.

[2017-12-19 18:01] kurogetsusai opened #17 "Go back button doesn't scale properly on some systems"
The "go back" button seems to look fine on my system and any other system I run on a virtual machine, but it seems to not scale properly for some people, eg. it was reported to be too big in issue #2 (Firefox 57), also it seems blurred (slightly too big?) on the screenshots from issue #7 (Firefox 58 or 59).

It would be nice if anyone could find a reason why does it behave like that, or any way fo

[2017-12-19 18:03] lunakurame commented on #2
A light version of those styles from `userContent.css` is now available, you need to enable it in `userContent.css`. Also for Firefox 57, read the warning at the top of that file, since FF 57 is kinda buggy (more info in issue #14).

[2017-12-19 18:03] #2 closed

[2017-12-20 05:38] lunakurame commented on #3
@rafaelmardojai BTW today I discovered that Firefox has a pseudo-class to detect whether the window has focus or not: `:-moz-window-inactive`. GNOME styles inactive windows differently, all buttons and gradients become flat, so I added that feature too! :D Commit 94e3946ed65aa1b5e19bbdccf8c42555c6198ff9, looks like this:

![Comparison of an active and inactive window](https://i.imgur.com/93AsuII.p

[2017-12-24 06:20] worldofpeace commented on #4
Thanks for making it! I was really mad when all the firefox adwaita themes were breaking and then all the webextensions stuff messed it up too. Really makes firefox look nice in Gnome.

[2017-12-26 13:07] smithfred opened #18 "Don't take over primary userChrome.css/userContent.css"
At the moment (when installing per the instructions) firefox-gnome-theme takes over the entire $firefoxprofiledir/chrome directory, and subsequently "owns" (controls) that profile's primary userChrome.css and userContent.css files.

Instead, it's much tidier to put all of firefox-gnome-theme's files in their own subdirectory, and add a single @import to each of the user's userChrome.css and userCo

[2017-12-26 15:12] smithfred opened #19 "Optionally hide tabs when only one open"
The following works for me (the new tab button needs to be moved to the main toolbar via FF's customise UI):

[code]

This unfortunately conflicts with using a private browsing indicator on the tab bar; the following replicates the darker private browsing header bar from Web instead:

[code]

EDIT: handled private browsing mask indicator preventing tab bar hiding.

EDIT 2: added complete CSS for d

[2017-12-27 00:30] smithfred commented on #17
The offending rule is:

[code]

The standard rule from browser.css is:

[code]

This results in a computed value of 26px (16px, plus 5+5px padding) instead of 30px.

I think you'll find that the "some systems" seeing this problem have "Compact" density selected in Firefox's "Customise" UI instead of "Normal" - removing the above rule fixes the oversized/blurry icon in that case ;)

On the other ha

[2017-12-27 00:44] smithfred commented on #10
I think this is an artefact of Firefox's intended behaviour of always putting the next tab close button under the cursor when closing a tab (so that multiple tabs can be closed by just continually clicking).

Mousing away from the tab bar then presumably stops using the temporary JS tricks, reverting to the styled widths.

If you close the right-most tab, then there is no "next tab to the right",

[2017-12-27 11:42] ghost commented on #17
Hey, you're totally right. With this theme, the density is no longer important, so changing it back to 'Normal' permanently fixes the issue.

[2017-12-27 15:57] rafaelmardojai commented on #17
I can confirm that, i noticed the same behavior.

[2017-12-27 17:55] smithfred commented on #17
I just checked, the back arrow is pixel-identical with either normal density + rule or compact density + no rule.

Maybe make the rule conditional on the current density, if there's a CSS attribute/class for it?

[2017-12-27 20:26] lunakurame commented on #17
Well then I'd say just switching to normal density is a good solution. Compact and touch density aren't supported anyway, they break paddings in more places than just this icon and when you switch to touch density everything looks bad. All the icons are underscaled, all buttons are fat, tab close buttons shrink to like 1px high.

![Firefox 57 + Gnome theme + touch density](https://i.imgur.com/OMB0

[2017-12-27 20:26] #17 closed

[2017-12-27 20:56] lunakurame commented on #19
Hiding the tab bar when only one tab is open seems to works nicely, I'll add it as an optional feature. That different headerbar looks good for the white theme, but I see no point in adding a white headerbar to the dark theme. I know Epiphany (GNOME Web) does it, but it looks kinda weird when it mixes with dark elements and misses the whole point of having a dark theme. I suspect they just forgot

[2017-12-27 22:22] smithfred commented on #19
See top edge below (only happens when unmaximised), from GNOME 3.26.

![image](https://user-images.githubusercontent.com/6663270/34394854-13666520-eb54-11e7-9fc8-28610f80aba0.png)

Dark 3.26 theme is pretty broken for me (also note unstyled top border - window is not maximised):

![image](https://user-images.githubusercontent.com/6663270/34394933-d3610b1e-eb54-11e7-9c20-97bf216708eb.png)

* Button

[2017-12-27 23:14] smithfred commented on #19
TBH I think changing the address bar background colour is actually a much better approach than what the Web guys did:

![image](https://user-images.githubusercontent.com/6663270/34395804-549f8bc8-eb5b-11e7-91cc-418ca6c3f91e.png)

![image](https://user-images.githubusercontent.com/6663270/34395920-aa6eb0fa-eb5c-11e7-965d-5d467d313e0e.png)

The below CSS works for me for the above approach (maybe co

[2017-12-28 13:15] smithfred opened #20 "Constrain URL bar drop-down width"
At the moment the drop-down occupies the entire screen width, covering up tabs, despite its actual text contents being constrained to the width of the URL bar.

Instead the drop-down should be the same width as the URL bar (see Web for GNOME design precedent).

[2017-12-28 14:55] smithfred commented on #20
The following is 90% of the way there:

[code]

The above sets the drop-down width and position correctly, and removes the LHS/RHS padding from the results (ironically, that was used to position them under the URL bar because the dropdown is 100% width..). It also seems to be robust in terms of different window sizes and variable numbers of spacers.

Unfortunately, there seems (?) to be some JS (_

[2017-12-28 22:17] smithfred commented on #20
And with just a mere one or two more lines, the trivial 10% remaining is solved 🤣

This now kills the JS-set max-widths, and implements the same relative widths for each result (title+tags=2/3, URL=1/3, with title/tags split 1/3 to 2/3 in turn if tags are present) entirely without JS, despite Mozilla's shitty (non-)semantic tag structuring 😁.

The complete CSS:

[code]

[2017-12-28 22:30] smithfred commented on #20
Screenshot:

![image](https://user-images.githubusercontent.com/6663270/34424838-9ab8831c-ec1e-11e7-940b-c128c9f546d0.png)

[2018-01-15 18:39] smithfred commented on #19
OK, looks like "Global Dark Theme" in Tweaks doesn't affect Firefox at all, it has to be set to "Adwaita-dark".

And the top edge of the window with CSD is set according to the GTK theme, rather than being styled by Firefox.

So looks like having a custom CSD header bar colour for private browsing is a no-go anyway, since there will always be a standard-colour top border.

Edit: useful for testing

[2018-01-16 09:06] ghost commented on #19
It's worth noting that the 'Global dark theme' switch is going to be removed in GNOME 3.28, so you will need to select 'Adwaita-dark' in any case.

[2018-01-16 20:09] smithfred opened #21 "Complete 3.26 light/dark themes, and various improvements"
https://github.com/smithfred/firefox-gnome-theme-3.26-layer

It has working/visually accurate 3.26 light/dark themes, and it also addresses the following issues: #18, #19, #20.

Yeah, it's a separate add-on project, not a pull request, since it was just a bunch of fixes I was keeping separate originally.

It's designed to sit next to an untouched copy of firefox-gnome-theme and add to/override thi

[2018-01-16 20:28] ghost commented on #21
Nice work! One thing I noticed: if you zoom in on a page, the scrollbar is zoomed as well.

[2018-01-16 21:34] smithfred commented on #21
That was fast ;)

But yeah, I know about the zoom issue:

https://github.com/smithfred/firefox-gnome-theme-3.26-layer/blob/master/userChrome.css#L61

I don't know if there's much that can be done about it without resorting to JS, since there's nothing I could find that exposes the browser zoom level to CSS, and the default "don't scale" behaviour is buried behind `-moz-appearance`.

[2018-01-16 22:41] ghost commented on #21
Oh, I totally missed that. I'll see it as a feature to indicate page zoom.

[2018-01-17 13:40] smithfred commented on #21
Additional improvement now: auto-detects whether CSD is enabled and the number of window controls.

[2018-02-01 15:58] smithfred opened #22 "Firefox 58 fixes"
See today's commits to https://github.com/smithfred/firefox-gnome-theme-3.26-layer

I'll convert that project to a fork of this one in the near future since this one seems to be abandoned at least at the moment.

[2018-02-03 14:49] lunakurame commented on #21
Hi! Sorry for disappearing for quite a while, I didn't have much time for my open source projects recently. Thanks for all those new features and fixes, I'll try to merge them with this repo, unless you want to create pull requests instead?

The general rule is everything which matches normal GTK behavior and doesn't break anything goes to `theme.css` and all extra features need to be disabled by

[2018-02-03 14:54] lunakurame commented on #18
That's probably a good idea if it doesn't break anything when an existing user runs `git pull` on his repo clone, I'll consider it when we merge all those fixes from #21.

[2018-02-04 11:41] smithfred commented on #18
It works perfectly ;) Please feel free to test.

[2018-02-04 12:05] smithfred commented on #21
My repo's overriding a bunch of stuff since it's just layering on this one, so I'd need to incorporate them into a clone of this repo first.

Also the FF58 fixes are similarly layered on via a separate file; nothing else is touched except the default imports and one extra one in userChrome.css, from memory.

The CSD detection from the first commit of my repo doesn't work past FedFox 57 - the state

[2018-02-04 12:06] smithfred commented on #21
BTW depending how much time you have for this project in future, you might want to think about how to allow the project to keep moving forward (other contributors, looking again at the integration team suggestion, etc.)

[2018-02-04 15:36] lunakurame commented on #21
Okay, thanks. I started merging your changes. There are many unrelated changes in a single commit (the initial commit in your repo) and seems like your editor reformatted all the whitespace (tabs → 4 spaces), even lines which weren't changed, so the diffs are messy. I gotta format it back and compare, it's gonna take some time. Most of that code works for FF 57 too, I think I'll just release a fin

[2018-02-04 15:54] smithfred commented on #21
Well the explanation for it being a big initial commit is in the first post on this issue ;)

*I* replaced tabs with spaces in my proj. because tabs are the work of the devil ;) But it's mostly my own CSS except for one file I copied because it was unavoidable if I wanted to avoid modifying the original project files, I think. Though if it takes a while for you to convert back to evil indentation,

[2018-02-04 16:03] smithfred commented on #9
I think there's some visibility benefit to have efforts *visible* in one place, however that works, in order to get maximum momentum behind this stuff. Whether that's having it be part of that team, or whether having this project linked to from their README or whatever, I don't know.

The guy working on Firefox CSD stuff is linked to Red Hat (hence Fedora's patched version and now backported upstr

[2018-02-04 16:29] smithfred opened #23 "Branching/tagging/supported setups policy"
Per #21, would be useful to have tags for specific versions, and a policy for what master tracks (nightly? beta? release?)

Tags would be e.g. 58.0 for the release of the theme for FF58, then 58.1 for the first bugfix release of the theme for FF58 etc. Fixes for "old" versions of Firefox (i.e. FF versions older than whatever master tracks) would go into version-specific branches.

So maybe master

[2018-02-04 16:31] smithfred opened #24 "README - GNOME not Gnome"
Self-explanatory I think :)

[2018-02-04 16:48] rugk commented on #24
What about a PR?

[2018-02-04 16:55] lunakurame commented on #21
Tabs are "evil" only if you use Emacs instead of a real editor, so if your editor can't handle tabs, I guess your editor is the problem, not mine. ;p I can convert spaces to tabs, but it's not 100% accurate because spaces are not semantic indentation characters. Tabs are semantically for indentation, spaces are for alignment, then you can display the code with whatever tab width you want and it's

[2018-02-04 17:20] ghost commented on #21
'Color' and 'colour' are both correct. As long as a consistent spelling is used, it's all okay.

[2018-02-04 17:31] lunakurame commented on #21
I know, I just said that in response to claiming tabs are "the work of the devil". I noticed @smithfred changed all occurrences of "color" to "colour", as well as all tabs to spaces, so I thought that was pretty funny. :D

[2018-02-04 17:50] rafaelmardojai commented on #21
I am currently using @smithfred 3.26 theme since i was too busy to finish mine xD. And works properly.

Pd: Github Organizations can have multiple owners =v.
Pd2: Please don't remove tabs... legions of spaces everywhere are the real devil...  i will pray for it  ='u.

[2018-02-04 18:05] smithfred commented on #21
I called them "work of the devil" winking at the fact that tabs vs. spaces is an intractable holy war, don't take it too seriously. Reality is they both have advantages/disadvantages.

It's OK, I no Americans kan't spel. I won't hold it against you ;)

No, I made 3.26 light from 3.18 light, then 3.26 dark from my 3.26 light since the 3.26 dark was broken for me.

Not pixel-perfect but much more ac

[2018-02-04 18:18] lunakurame commented on #21
Ok, I'll use @smithfred's version of that theme then, thanks.

I actually tested GitHub Organizations a while ago, the repo owner was still just a single person and others were Collaborators (push access), but that's exactly the same you can do with regular repos. Not sure if they changed it tho. But that's kinda off-topic, I'll focus on merging all that code now.

[2018-02-07 17:48] Saroufim opened #25 "Close Button Is Misaligned with CSD"
The close button on Fedora 27 with Firefox 58 + CSD is misaligned with the rest of the HeaderBar.
![csd-firefox-issue](https://user-images.githubusercontent.com/4712288/35932250-e0fcfac4-0c3f-11e8-815a-ac3ade5a07cd.png)
This is persistent with all sizes of the CSD bar and with both light and dark themes.

[2018-02-07 18:50] lunakurame commented on #25
There currently are 2 versions of that CSD style sheet, for FF 57 with Fedora's patch and for FF 59. I'll fix it for FF 58 too, but I need to finish merging changes from issue #21 first. Could you check if enabling the version for FF 59 works for FF 58 on Fedora? It might work, because I remember other styles for FF 57 were misaligned for both FF 58 and 59 too.
[code]
Let me know if it works. If n

[2018-02-07 18:56] Saroufim commented on #25
CSD for Firefox 59 works perfectly on Fedora 27 with Firefox 58. Thank you very much. This theme is a treasure. Thanks for making it.

[2018-02-07 20:01] lunakurame commented on #25
I'm glad I could help (and I'm sure other contributors are too :p). Just added info that FF 58 users can use FF 59 CSD styles to the `userChrome.css` file (commit 53e214aefa0058ab7af734e4912605d4dafd642d), so others know about it. Thanks for testing it!

[2018-02-07 20:01] #25 closed

[2018-02-07 20:56] lunakurame commented on #19
Setting global theme works for me and affects Firefox too, maybe that's because I use a pretty old version of GNOME (3.18), but anyway, there isn't much we can do, I already mentioned the `GTK_THEME` variable in README.

I added both hiding single tabs and coloring the URL bar for private windows, but as two separate features, in case someone wants to use one, but not the other:
- `hide-single-tab

[2018-02-07 20:56] #19 closed

[2018-02-15 00:07] smithfred commented on #23
Having at least tags would be very useful personally as I'm RPM-packaging this for Fedora (privately at the moment, but I don't mind potentially making them public in future).

RPM spec files need a source archive URL, and GitHub generates semantically named tarballs for tags, instead of commit-named zips, e.g.:

https://github.com/kurogetsusai/firefox-gnome-theme/archive/v58.0.tar.gz

vs.

https:

[2018-02-15 19:11] smithfred commented on #19
Just tested on FF58, looks fine.

[2018-02-15 19:31] smithfred commented on #21
Just tested Firefox 58 with the current version of the 3.26 light theme in this project without my fixes; quite a few things wrong vs. before your recent commits with my layer added; some is stuff I fixed a couple of weeks ago on my layer for FF58 (see #22); some not:

Fixed by importing my firefox-58-fixes.css after your main userChrome:
* Inactive button borders wrong
* Too-thick border just abo

[2018-02-15 21:46] lunakurame commented on #23
Actually I've been thinking a bit about this, we already have support for Firefox 57, Mozilla isn't gonna change that version anymore, so it's mostly stable, but we might want to still fix some minor bugs and add new features like the code you wrote for private windows, URL bar autocomplete etc, so tagging the "last supported" version of this theme for a specific Firefox version wouldn't be much h

[2018-02-16 17:41] smithfred commented on #23
No AFAIK 57 is now obsolete/unsupported (since the moment 58 was released). No distro should be continuing to provide 57.x releases (unless they're effectively making a custom downstream ESR for some dumb reason ;)), they should either have upgraded to 58, or be using ESR (52). I'd suggest dropping support for obsolete and potentially vulnerable Firefox versions immediately, and focus on latest/ES

[2018-02-24 14:47] lunakurame commented on #20
This code is art, I just copied it without changes (except for indentation since this repo uses tabs) and added as an optional feature. Thanks and good job, that really looks better than the default fat menu.

Also, I added a crapton of icons to the headerbar for testing their popups and I noticed the autocomplete menu kinda glitches out when the window is about 1000px ± 200px wide, works ok if it

[2018-02-24 14:54] lunakurame commented on #21
Just merged your `theme.css` overrides, except the part with the icon filter hack, since I don't understand your changes, and I changes a few minor things too. This is probably the final version for FF57, I'll edit README later, maybe apply some quick bugfixes if I find some and then I'll create a `firefox-57` tag or something like that, so we can forget about FF 57 and merge those fixes for FF 58

[2018-02-26 13:21] smithfred commented on #20
Art? Haha.

It also seems to fail at full width on a 4K screen for no apparent reason (extends all the way to the right). Haven't poked at it to see why - there's no window width assumption in my CSS.

How are you still on Firefox 57? 😂

[2018-02-26 13:23] smithfred commented on #21
Which "icon filter hack" bit(s) specifically?

Haven't tested since your latest commits; I'll test once you move on to a current Firefox version ;)

[2018-02-26 15:04] lunakurame commented on #20
So I'm closing this, if you fix that bug somehow, feel free to create a pull request, for now it's good enough.

I haven't had time to migrate my profiles to FF 58 yet, Mozilla's autoupdates like to wreck them (addons, settings, tabs) for some reason, so I disabled autoupdates and migrate manually when I can. I even still have a not-yet-migrated profile on FF 56. Also a disk in my RAID array start

[2018-02-26 15:04] #20 closed

[2018-03-15 23:27] smithfred opened #28 "Firefox 59 fixes and headerbar bookmark item hover styling"
See today's commit to my layer: https://github.com/smithfred/firefox-gnome-theme-3.26-layer

I haven't had the opportunity to convert to a fork yet sorry, but the changes are pretty straightforward.

[2018-03-18 20:48] lunakurame commented on #24
Fixed.

[2018-03-18 20:48] #24 closed

[2018-03-18 20:50] lunakurame commented on #18
Changed the installation instructions, no code change needed. I'm not removing the `@import`s for the old `custom*.css` files, because people use them, so that would be an unnecessary breaking change.

[2018-03-18 20:50] #18 closed

[2018-03-19 14:19] smithfred commented on #18
Nice one, thanks :) Might be worth including a "setup.sh" or similar that automates the instructions - the "create userC*.css" items are idempotent; the sed ones just need a `grep blah ||` sort of test before them. Could also automate detection of >1 Firefox profiles (if only one, install to *.default, otherwise prompt for which).

[2018-03-25 20:11] lunakurame commented on #23
Ok, so I decided. Old versions will get tags (I'll tag what we have now as `57` soon). Most changes will probably apply to both stable and beta and I don't wanna merge both branches after every single commit, so we're not using branches for versions. We might wanna use feature branches if they are necessary, but I don't think they will be. `master` is the current stable Firefox version, fixes for

[2018-03-31 11:31] lunakurame commented on #21
All the stuff related to inverting icon colors you changed. But nevermind, I updated the repo to FF 58 and then realized I'm late again coz there already id FF 59... I think I fixed all of those bugs on your list except for the popup background color (they don't seem to react to my styling attempts) and CSD stuff (looks like Fedora removed FF 58 from their repos?), so I'll just ignore it, tag 58 i

[2018-03-31 11:32] #21 closed

[2018-03-31 11:33] lunakurame commented on #8
Looks like it works now, thanks for reporting it.

[2018-03-31 11:33] #8 closed

[2018-03-31 11:39] lunakurame commented on #18
I actually tried, but the script turned out to be too complicated. I don't want to lock it down to only work with profiles located in your `~/.mozilla/firefox` dir since I use my own FF profile manager, which doesn't use this location and then it has to detect whether you run it inside your `chrome` dir or the repo's dir, or somewhere else... The installation steps aren't too complicated, so I thi

[2018-03-31 11:55] Saroufim opened #29 "Firefox 61: Titlebar is cut on the top"
The titlebar margin is cut short from the top on Firefox 60+. Previously, adjusting the height margin value from fedora-css fixed that but it no longer does after the latest update.

![captura de pantalla de 2018-03-31 14-48-00](https://user-images.githubusercontent.com/4712288/38162934-83807448-34f3-11e8-8b5b-db2c55a396c6.png)

[2018-03-31 13:32] lunakurame commented on #29
I just updated this repo to FF 58 (yeah, we're kinda behind Mozilla...), I'll update it to FF 59 in like 2 days if everything works. I see CSD works ok on FF 59 alpha, but FF 59 stable doesn't seem to have CSD support at all, which kinda surprised me since it was working well for a long time now, idk why would they remove it. Anyway, that `fedora-csd.css` file was supposed to be only for FF 57 wit

[2018-03-31 16:35] lunakurame commented on #29
I added a quick fix, for now please enable `experimental-ff-60-csd.css` instead of `csd.css` and it should work. I'll merge those files when FF 60 stable comes out. Also this solution isn't perfect yet, it glitches out when the `hide-single-tab.css` module is enabled. I can't figure out how to fix it now, I'll take a look at it again after fixing other bugs in FF 59 stable.

[2018-03-31 17:42] Saroufim commented on #29
The result is exactly as you described it. The headerbar is fixed again but single tabs are no longer hidden. That's something I can live with at least. Thank you very much!

[2018-03-31 17:46] rafaelmardojai commented on #29
My fix for FF 61 is working nice with hidden tab.

[2018-03-31 18:31] lunakurame commented on #29
Thanks @rafaelmardojai, your changes look perfect for me and they work with `hide-single-tab.css`, thank you for fixing our CSD again! :D

[2018-03-31 18:31] #29 closed

[2018-03-31 18:31] Saroufim commented on #29
Thank a lot to the both of you!

[2018-04-01 10:01] lunakurame commented on #22
Manually merged, except for CSD auto-detection stuff.

[2018-04-01 10:01] #22 closed

[2018-04-02 10:19] lunakurame commented on #8
Oops, my bad. It was fixed in the `hide-single-tab.css` module, but if it was disabled, that bug was still present. I moved the fix to the right place now.

[2018-04-02 11:39] lunakurame commented on #28
I merged your changes:
- this part doesn't seem to do anything on my setup, so I ignored it:
[code]
- this part seems to be specific to your repo only, I don't even have that variable:
[code]
- this part is nice so I added it to my repo:
[code]

Tested on FF 59 stable from Mozilla's FTP (seems like they removed CSD support from that version), an old FF 59 alpha (which supported CSD) and Fedora 27

[2018-04-02 11:42] #28 closed

[2018-04-02 12:00] lunakurame commented on #28
Oh, I see what is the first part supposed to do, it's a fix for tab close buttons. It was already fixed in #31, except it still has wrong opacity, I'll push a fix in a second.

[2018-04-03 17:10] JaneSmith commented on #4
I just came across this today. It really is amazing - thanks for your hard work! I wish this had been more discoverable though. When I was searching around I just came across old, obsolete extensions from the gnome-integration-team that don't work anymore with the current Firefox. I'm glad I finally found this!

[2018-04-04 01:02] HunterGraubard opened #32 "No rounded corners on the headerbar (FF 60/61)"
Thank you for your great work on this. This is wonderful. For the most part it works great, but I do have one minor issue:

I've tested it on both Firefox beta (60) and nightly (61), with the browser's titlebar turned off. In both cases the headerbar does not have rounded corners. They're just sharp, rectangular corners. The screenshots I've seen suggest that there should be rounded corners, so I

[2018-04-04 01:06] rafaelmardojai commented on #32
That's a Firefox issue with CSD.
Nothing we can do at all.

[2018-04-04 01:07] HunterGraubard commented on #32
Okay, thanks for clearing that up. Hopefully they'll improve it then.

Edit: But I did see screenshots of it working with rounded corners. What was that then? Some kind of Fedora patch?

[2018-04-04 01:11] rafaelmardojai commented on #32
Yeah, you can found the bug on Firefox here [https://bugzilla.mozilla.org/show_bug.cgi?id=1408360](https://bugzilla.mozilla.org/show_bug.cgi?id=1408360).

[2018-04-04 02:00] rafaelmardojai commented on #32
@HunterGraubard Yes Firefox 57/58 patched by fedora used to work fine. But now current stable (59) on Fedora has the same bug (they now use upstream CSD).

[2018-04-04 10:37] lunakurame commented on #32
Actually I was testing FF 59 on Fedora two days ago and I tried to fix it, but nothing worked. I thought it's just because I was running it on a virtual machine, but looks like it's an actual bug. Thanks for that link, Rafael.

While we can't add rounded corners to the window, we technically can add it to the headerbar. For now I added this dirty hack (e770289), it doesn't solve the problem, but I

[2018-04-04 14:54] kurogetsusai opened #33 "userContent.css doesn't fully load with e10s enabled"
### Firefox 57
`@import`s in `userContent.css` don't work when e10s is enabled: https://bugzilla.mozilla.org/show_bug.cgi?id=1416184. You can disable e10s by switching `browser.tabs.remote.autostart` and `browser.tabs.remote.autostart.2` to `false` in `about:config`. Disabling it has side effects tho, the close button on the bookmark sidebar becomes a white rectangle and all icons look like if the

[2018-04-04 22:11] smithfred commented on #21
I'll try and re-test your latest commits when I get a chance then.

[2018-04-04 22:15] smithfred commented on #18
Having a script for the default FF profile/recommended installation method wouldn't preclude manual installation.

You could also just put a `read -p 'This will install this theme to your default profile, continue y/N?' as well.

I can probably chuck one together if you'd include it.

[2018-04-08 00:32] rafaelmardojai opened #36 "New files structure"
**New ui files organization proposal:**
- core.css _(rename theme.css, generated by CSS Pre-Processor)_
- core-scss _(suffix depending preprocessor)_
    - core.scss _(basic styles and imports)_
    - _navbar.scss
    - _tabs.scss
    - _popups.scss
    - _etc.scss
- themes _(themes only store variables, so they are written in pure css)_
    - gnome-3.18-dark.css
    - gnome-3.18-light.css
    - g

[2018-04-11 23:32] lunakurame commented on #36
I was thinking about switching to Sass or Stylus before, but tbh I don't see many benefits in our case. We can ignore other browsers and just use the most recent CSS supported by Firefox, so we already have imports, variables, we don't need mixins and prefixes. Half of our selectors must match exactly Firefox' internal styles, so we can't change them. The other half isn't too nice either, because

[2018-04-12 00:25] rafaelmardojai commented on #36
You have a point about the CSS preprocessor, i give you the reason in that.

Now i think we should focus this discussion on new files structure. I was working on it, and this is my new proposal:

- `userChrome.css `
- `userContent.css`
- **chrome/**
    - `core.css` _(main UI CSS)_
    - **partials/** _(features with behavior we want by default, imported by `core.css`)_
        - `navbar.css`

[2018-04-12 08:42] ghost commented on #36
Save for symbolic-tab-icons, I think all of those optionals belong in partials.

[2018-04-12 15:42] rafaelmardojai commented on #36
1. `csd.css` need to be optional since FF still allow titlebar option. (Is there some way to detect if CSD is enabled with CSS?)
2. `hide-single-tab.css` and `matching-autocomplete-width.css` can be enabled by default, but we need to discuss that before, since some users may not want it.
3. `private-urlbar.css` is a small tweak to UX. IMO should be enabled by default.

[2018-04-12 17:38] lunakurame commented on #36
That folder tree you posted looks good, but we can't adopt it as is, because I'd like to minimize breakage. We added a bunch of features to make it easy to update the theme. I added `@import`s for `customChrome.css` and `customContent.css`, so user config can survive updates and users can add their own styles, that feature was requested in #14. Those two files were then replaced by new installatio

[2018-04-12 17:48] lunakurame commented on #36
Answering your last post:
1. It was possible to detect CSD with the old Fedora patch, smithfred has a bunch of code for CSD auto-detection: https://github.com/smithfred/firefox-gnome-theme-3.26-layer, but he told me it doesn't work anymore, so currently we can't detect CSD.
2. I wouldn't enable those by default. `hide-single-tab.css` makes it impossible to mute tab if there is only one tab and `ma

[2018-04-12 18:35] rafaelmardojai commented on #36
**So the result should be something like this:**
- `userChrome.css `
- `userContent.css`
- **ui/**
    - `gnome-3.18-dark.css`
    - `gnome-3.18-light.css`
    - `gnome-3.26-dark.css`
    - `gnome-3.26-light.css`
    - `hide-single-tab.css`
    - `matching-autocomplete-width.css`
    - `symbolic-tab-icons.css`
    - `csd.css`
    - `experimental-ff-60-csd.css`
    - **parts/**
        - `core.css`

[2018-04-12 19:36] lunakurame commented on #36
Yeah, looks good. Those 3 files will stay in the `ui` folder too since we can't detect CSD: `csd-1-button.css`, `csd-2-button.css`, `csd-3-button.css`. And those files in the `parts` dir might turn out to be different, but that's gonna be clear when we start splitting the `theme.css` file into smaller ones (depending on what makes more sense, eg. I'd move the headerbar to `headerbar.css`, we might

[2018-04-13 22:16] ghost commented on #36
Ctrl + M always works and, considering the tab you want to mute is already open, it's also faster than right clicking the tab. I agree on the matching-autocomplete-width.css, though, best not enable by default if it's buggy.

[2018-04-14 03:51] lunakurame commented on #36
Thanks, I didn't know about that key shortcut. You can also click the speaker icon instead of right clicking, that's as fast as `Ctrl`+`M`. Still I think key shortcuts are too obscure to justify removing a UI element (unless it's optional like it is now).

Alternatively we could add a file `ui/recommended-features.css`, it would be something like "just give me the most GNOME-like experience", so c

[2018-04-14 04:21] rafaelmardojai commented on #36
I agree about adding a new file for fast enabling those features.
Also if we find a way to auto detect CSD, i think we should move that feature to the core.

Yeah, `private-urlbar.css` should be on core.

[2018-05-11 08:16] ashwinvis opened #37 "Firefox 61.0b3: No overflow menu, greyed buttons in tab bar."
I have more extensions installed, which I usually keeo in the overflow menu.

Also the new-tab and multi-container tab buttons are greyed out, barely visible in the tab bar.

![screenshot from 2018-05-11 09-13-53](https://user-images.githubusercontent.com/9155111/39914027-4ee8b6c6-54f3-11e8-9fba-b03d81f6fc08.png)

[2018-05-13 10:41] rafaelmardojai commented on #37
I couldn't reproduce this.
What "modules" of the theme you have enabled?
Do you have latest master theme version?

[2018-05-13 13:14] ashwinvis commented on #37
Yes, I am using the latest master version.

I didn't have this problem with Firefox 59. Now that I updated to the stable version Firefox 60.0, I get the same problem.

I have activated the following in userChrome.css.

[code]

**EDIT**: Maybe you should also know that I am using gnome-3.28.2

[2018-05-13 13:22] ashwinvis commented on #37
**Update:** I managed to get the overflow button by uncommenting `@import "ui/csd-3-buttons.css";`, but the tab bar buttons are still grey.

[2018-05-13 15:26] ashwinvis commented on #37
**Update2**: The tab bar buttons were greyed out because I was using the `Default` theme. Using `Light` theme in Firefox fixes this.

May I suggest a bit more explicit instructions, esp. in step 6 of your README?

[2018-05-13 16:13] lunakurame commented on #37
The instructions are correct (maybe I should rewrite step 6 tho if it's confusing). You shouldn't need to enable the light theme in Firefox (I'm assuming you mean the themes available in the burger menu → Customize), in fact we don't support any of those themes but "Default", so you can notice the tab bar's background turns whiter when you enable the light theme and completely black when you enabl

[2018-05-13 16:25] lunakurame commented on #37
Oh, another thing. I see you posted this:
[code]
I don't know what's in the `...` part, but if there are any CSS selectors or `@namespace`, it won't work. All `@import`s must be at the top of the file, before any other CSS code starts. So in case you have something else there, this line probably doesn't load:
[code]

Also you are missing the part where you pick how many window buttons you have. Un

[2018-05-13 20:04] rafaelmardojai commented on #37
@kurogetsusai, currently i'm running GNOME 3.28.1 on Fedora 28. (FF 62 and no issues).

@ashwinvis for this theme work properly, Firefox should have default theme and normal density.

[2018-05-13 20:21] ashwinvis commented on #37
@kurogetsusai

The screenshot I shown was with the "Default" theme. It is strange because it looks fine now with the "Light" theme. But since I raised the issue, I will investigate a bit more with the "Default" theme.

I now some beginner level CSS, I can try and see if "inverting" helps. About the distro - it is ArchLinux - up to date and using Adapta shell theme, if that is relevant. It could be

[2018-05-13 20:27] ashwinvis commented on #37
@rafaelmardojai Yes, but sadly the default theme doesn't work out of the box for me. I will try to check if inverting would help. This is how it looks now with the light theme:

![screenshot from 2018-05-13 22-23-36](https://user-images.githubusercontent.com/9155111/39971510-c3ac4e60-56eb-11e8-9f28-fd15349df496.png)

[2018-05-13 20:47] ashwinvis commented on #37
OK, turns out it was because I used [Adapta](https://github.com/adapta-project/adapta-gtk-theme) as the GNOME application theme, and not Adwaita. I don't know whether this theme intends to be universal (to be unaffected by OS) or just limited to Adwaita and similar themes. Feel free to close the issue at your discretion and thank you for your time. :100: Great work by the way.

[2018-05-13 21:15] rafaelmardojai commented on #37
This theme is primarily focused to Adwaita & Adwaita-dark. But i don't discard that we can add support to other GTK themes in a future.

But in general third party GTK themes are a bad idea.

[2018-05-13 21:15] lunakurame commented on #37
This FF theme actually loads some system icons and Firefox might use some too, so if Adapta overrides them with different ones, it might mess up the colors I guess. We don't really support themes other than Adwaita, but they should actually work nicely and I think it's possible to add support for other popular themes. All the important stuff is extracted to CSS variables, so we use the same code w

[2018-05-14 08:14] nunocastromartins opened #38 "Disable tab animations"
GNOME applications seem to have no tab animations (when creating a new tab or closing a tab); I believe it's in this theme's interest to copy that.

There used to be an `about:config` option to exclusively disable tab animations (`browser.tabs.animate`) but I cannot find it anymore. Currently, disabling `toolkit.cosmeticAnimations.enabled` seems to work, but I believe it is also turning off other

[2018-05-14 08:20] nunocastromartins opened #39 "Better support for the menu bar"
Currently this is what happens when the menu bar is shown by pressing `alt` or ticking the `Menu Bar` option (in FF 60.0 with CSD enabled):
![screenshot from 2018-05-14 10-14-58](https://user-images.githubusercontent.com/8314616/39985751-de3590ec-575f-11e8-8a0a-716d4f023fca.png)

I'm not saying that it should look perfect since GNOME applications have no menu bar anyway, but perhaps it could look

[2018-05-15 02:17] rafaelmardojai commented on #39
Please, test #40 and let me know.

[2018-05-15 08:01] YarnSphere commented on #39
Tested; LGTM!
Thank you for your work!

[2018-05-18 12:46] #39 closed

[2018-05-18 12:52] lunakurame commented on #39
Thanks for reporting this bug and thank you @rafaelmardojai for fixing it! I'm surprised you found a way to even add CSD autodetection, are there any known bugs? It looks stable to me, maybe it could even replace all those manual CSD switches completely, or at least land in the new `ui/recommended-features.css` file when we add it (#36).

[2018-05-18 13:11] lunakurame commented on #38
I don't think it would be possible to just disable tab animations with our CSS styles, the tab bar has a lot of JS code always trying to mess with our styles: #10 and seems like those animations have something to do with e10s which also causes other bugs: #33. Disabling `toolkit.cosmeticAnimations.enabled` seems to also disable the refresh button animations (ignoring `browser.stopReloadAnimation.e

[2018-05-18 13:16] nunocastromartins opened #41 "Back button slightly larger than forward button (blurry back icon)"
This is a minor issue but, as you can see, the back button is slightly larger than the forward one, making the icon appear blurry:
![screenshot from 2018-05-18 15-11-05](https://user-images.githubusercontent.com/8314616/40236518-20b722e0-5aae-11e8-9a71-8a509c8b36ef.png)

I'm not sure if this only happens to me. My monitor has a 1920:1080 ratio; the issue exists independently of the size of the Fir

[2018-05-18 13:24] YarnSphere commented on #38
Sounds like it might be desirable, yes; though GNOME has _some_ animations. For example, menu pop-ups are animated. This might actually give you a better base to copy GNOME's behaviours: since the setting seems to disable most animations, if wanted, you might be able to use custom CSS animations on top of the non-animated UI to copy GNOME.

I'll await your list of `about:config` settings! Maybe yo

[2018-05-18 13:40] lunakurame commented on #41
Oh god, that bug again. It was already fixed for FF 57, then again for FF 58, then it actually worked without changes for FF 59 and now it's broken again: #17. It's because the back button is bigger in Firefox' default theme to implement that fancy circle around it. Mozilla keeps changing the styles every release, so our overrides stop working and the icon scales improperly. I'll fix it in a secon

[2018-05-18 13:45] YarnSphere commented on #41
My bad for opening a new issue, I should have browsed through the closed ones beforehand!
But I'm glad that it's easy to fix! It's one of those small issues that drive you nuts after you notice them for the first time! :D

[2018-05-18 13:57] lunakurame commented on #41
Yeah, small issues you notice, fix, and then they come back a hundred times. :P It's okay tho, the icon or the whole button is usually just forced to scale to some arbitrary size, so unsetting those rules fixes the problem. Just pushed a fix to `master`, works fine for me now.

[2018-05-18 13:57] #41 closed

[2018-05-18 14:01] YarnSphere commented on #41
Works fine for me too! Thank you for the quick fix!

[2018-05-18 15:59] rafaelmardojai commented on #39
@kurogetsusai there's no known bugs and is working on Stable, Beta & Nightly.

Maybe we can wait to one more version, and if Mozilla don't break nothing we can default `experimental-auto-csd.css` and include it to core when #36 is done.

[2018-05-20 15:28] gabriel4649 commented on #4
This indeed, quite amazing. It makes Firefox look almost as good as Epiphany aka GNOME Web. I have always wanted to use Epiphany because of how it looks and because its system integration, but it is not viable for me (yet).

[2018-05-21 09:15] platypro opened #42 "Search bar is smaller than location bar"
The location bar is resized properly but the search bar isn't. See screenshot.

![smallbar](https://user-images.githubusercontent.com/15664710/40299934-b0084f6a-5c9c-11e8-9e9f-3a58a42f723d.png)

[2018-05-21 10:46] CharoSW opened #43 "mozextension page theming can break addons"
I use a sidebar addon which can link into the new firefox theme api.  Because the userContent part of firefox-gnome-theme sets the background color of mozextension pages statically that part of the extension breaks.  So while this setting may be useful for mozextension pages that show in a normal tab it can have unintended side effects for those that show in the sidebar.

[2018-05-21 10:55] CharoSW opened #44 "theme api 'toolbar_text' element changes color of toolbar text"
This may not seem like a bug by the title but for a static theme like this having elements that change color isn't great.  However, as there may be situations where someone might want a to use a theme api extension (such as another extension that can tap into that api) completely setting the color of elements would probably be useful

[2018-06-04 13:13] ashwinvis opened #45 "Location bar hidden in fullscreen (F11) mode when mouse hovered over"
Only the tab bar reappears on mouse hover. This is how my `customChrome.css` looks like.

[code]

I am right now on ArchLinux with KDE Plasma 5.12.5, with Firefox 60.0.1

[2018-06-05 11:11] lunakurame commented on #42
Just fixed it, should look the same as the location bar now. Thanks for reporting this bug.

[2018-06-05 11:11] #42 closed

[2018-06-05 11:39] lunakurame commented on #45
I can confirm this. Happens only if CSD is enabled, caused by 76d78304a69b64b7b51c4cb95b664c270fee67d9, looks like pull request #40 fixed a lot of problems but added this bug. Should be easy to override since we can detect fullscreen with `:root[inFullscreen]`.

[2018-06-05 11:43] lunakurame commented on #45
Fixed, thanks for reporting.

[2018-06-05 11:43] #45 closed

[2018-06-05 11:56] lunakurame commented on #43
I don't think there is a clear way to restrict theming just the settings page but not other pages since the extensions' file names seem to not be standarized, but we can try to hack our way around this problem with a regexp, similarly to how we handle extensions' popups:
`@-moz-document regexp("^moz-extension://.+/popup.html$")`

Can you give me a link to that extension you are talking about or it

[2018-06-05 12:15] lunakurame commented on #44
Currently we don't support themes other than the default one, but it actually sounds like a good idea. I think those lightweight themes can also change icon colors (a CSS variable `--lwt-text-color` also changes icon's fill color), so if we lock it in our theme, we might be able to finally solve that old problem with icon colors being swapped on random machines.

I'll read more about the theme API

[2018-06-08 00:27] kerry-s opened #46 "csd buttons left option?"
i'm using elementary os-> https://elementary.io/

they have the close button on the left & maximize on the right. i can't do nothing to change that. it kinda bothers me that only firefox has the button layouts on the right in csd mode.
is it possible to get the buttons split like that?

for now i been able to move the buttons to the left but they don't line up right(centered in button) could you h

[2018-06-08 03:49] lunakurame commented on #46
Hi! That looks interesting, thanks for sharing that code. I took your `customChrome.css` and experimented with it a bit, I managed to move the close and maximize buttons to separate sides. It seems to work nicely, so I thought I might as well just add that option to the repo.

We don't have a theme variant for elementary yet, so I used Adwaita from GNOME 3.18 instead (it works with other theme var

[2018-06-08 03:49] #46 closed

[2018-06-08 03:58] kerry-s commented on #46
omg, that is fricken perfect. you are the bomb!

On Thu, Jun 7, 2018 at 5:49 PM, Sai Kurogetsu
<notifications@github.com> wrote:

[2018-06-08 05:04] rafaelmardojai opened #47 "Support third party GTK+ themes"
As we have seen (#37 & #46) we lack support to non-Adwaita themes.
Here I propose some changes to create a way to support these themes.

## Approach 1: Basic "GNOME" styles separated from themes ones
`core.css`: Base GNOME look and feel styles.

`adwaita-base.css`: Base Adwaita look and feel styles.
`adwaita-dark.css` & `adwaita-light.css`: Adwaita themes (variables storage).

`adapta-base.css`: B

[2018-06-08 05:29] lunakurame commented on #47
That sounds ok, but when I try to imagine what should go in the new `core.css` file, I end up with just everything we already have in the `theme.css` file. Adapta and elementary's theme really are just flat versions of Adwaita, all code in `theme.css` should apply to them too and the only thing that changes are the CSS variables we define in theme variant files: `gnome-<version>-<light/dark>.css`.

[2018-06-08 10:00] lunakurame commented on #36
I started splitting `theme.css` into parts: df37a7af8160fadb730bd87c7c13334e804f9b95, more coming soon. You were right, the current code is confusing and I'm sorry you had to work with it. :p I'm trying to write more consistent comments this time and split it into meaningful categories, so I hope the new parts are better.

[2018-06-09 10:08] Saroufim opened #48 "[Feature Request] Create Matching Firefox Color Profiles"
Mozilla launched a new experiment which can be of benefit for themes. Creating a matching color profile can allow us to customize firefox further by having appropriate tab highlights and readable highlight and text colors. This could be especially useful for the dark theme. Check it out https://color.firefox.com

[2018-06-10 00:56] rafaelmardojai commented on #48
I don't know if this makes much sense for this theme.

[2018-06-11 18:57] MrPowerMac opened #49 "HiDPI support for some icons"
I am using this theme with a 4K display with scaling set to 200%, and some of the icons in the title bar appear blurrier than their regular GNOME counterparts.

Firefox 60.0.1 with latest firefox-gnome-theme (3.26 light variant):
![minimize, maximize, close (Firefox)](https://user-images.githubusercontent.com/23667741/41251016-7be3473a-6d6d-11e8-8403-d87941efb602.png)
![back/forward (Firefox)](htt

[2018-06-11 20:42] lunakurame commented on #49
I can't reproduce that because looks like my Fedora virtual machine with GNOME 3.26 doesn't have an option to scale the UI at all. How did you enable it? I don't see it in the tweak tool, nor in the system settings, looks like they removed it? Can't check on Wayland because it's unusable on a VM. [This](https://unix.stackexchange.com/questions/400188/cannot-enable-hidpi-from-gnome-tweak-tool) says

[2018-06-11 22:39] MrPowerMac commented on #49
I'm currently on Fedora 28, GNOME 3.28.2, Wayland session. Haven't tested with the Xorg session.
I enabled the scaling through Settings->Devices->Displays, then choosing 200%.
![Displays menu in Settings](https://user-images.githubusercontent.com/23667741/41260752-a7d9dfbe-6d8d-11e8-92ed-30eda151488d.png)

[2018-06-12 05:06] rafaelmardojai commented on #49
I can reproduce this.
To archive this we should find a way to get scalable stock icons.

A workaround is to disable icons replacement in `theme.css`.

[2018-06-12 06:36] lunakurame commented on #49
I can't change the scaling factor on Wayland either, I can only enable 150% scaling if I dig deep info dconf-editor, but then all Firefox icons look bad. So instead I just modified our CSS to make the buttons bigger and indeed our icons look bad. We use the moz-icon pseudo-protocol to fetch system icons, looks like they don't fetch SVG icon, but you can specify the size: [source](https://blog.mozi

[2018-06-12 06:45] lunakurame commented on #49
Oops, that broke our CSD icons. My bad, fixed.

[2018-06-12 14:56] rafaelmardojai commented on #49
Looks good to me too (scaling set to 200%). Maybe it will break in some higher scaling, but it's a big improvement.

@MrPowerMac can you test this with all your available scales?

[2018-06-12 17:43] MrPowerMac commented on #49
Tested at all scaling percentages (100%-400%), and the icons look great! No complaints here.
If there's any other scaling problems with the theme, I have yet to find them. Thanks for the quick fix!

[2018-06-13 00:21] MrPowerMac opened #50 "Faint circle (from default Firefox theme) when hovering over back button"
When hovering over the back button, a faint circle is visible around the arrow icon, which is an artifact from the default Firefox theme. (This can be demonstrated by changing "Density" to "Compact" in the Customize menu; the circle stops appearing since it is not part of the back button with that density.)
![Screenshot depicting faint circle](https://user-images.githubusercontent.com/23667741/413

[2018-06-13 05:42] lunakurame commented on #50
Oh I see. I recently refactored this part of code (#36), I changed a lot of selectors and they actually work nicer now, but I guess the circle came back and I didn't notice it. Thanks, I'll fix it soon.

[2018-06-13 06:22] lunakurame commented on #49
I found more about `moz-icon`, if anyone's interested. A draft of a protocol specification: [link](https://www.mail-archive.com/public-webapps@w3.org/msg07377.html) and Firefox' code which parses those URLs: [link](https://dxr.mozilla.org/mozilla-central/source/image/decoders/icon/nsIconURI.cpp).

Looks like those values are allowed:
[code]
And you can also define an icon state, not just size:
[co

[2018-06-13 06:22] #49 closed

[2018-06-16 18:50] smithfred commented on #20
Decided to look at/fix the bug.

One of my other changes in my "layer" to more closely resemble GNOME Web was the following:

[code]

Unfortunately when max. width kicks in (~ 2880 px wide window), Firefox suddenly stops setting the `--item-padding-start` and `--item-padding-end` vars on `#PopupAutoCompleteRichResult` which I was using to constrain the dropdown width.

I was already using `max-wid

[2018-06-19 04:25] rafaelmardojai commented on #47
Maybe i overthink it a bit xD.

But for example `csd-elementary.css` is a theme specific fix (maybe the only one who needs this kind of fixes), and it should be included automatically if the user choose the elementary theme.

What do you think of this behavior?
`elementary-loki-light.css`:
[code]

I just want to make things clear for any new contributor.

[2018-06-27 03:50] rafaelmardojai commented on #47
I was looking the most popular gtk themes (Adapta, Arc, Communitheme, etc), and started playing around Arc theme.

For example it needs:
- Modify headerbar height
- Modify buttons padding/height
- Modify window controls separator height
- Use custom icons on window controls
- Etc

To solve this, we can just add a few new variables to better manage backgrounds, borders, shadows and colors of these

[2018-06-27 03:50] #47 closed

[2018-06-28 18:20] rafaelmardojai commented on #36
Firefox 61 has been released and auto CSD is working nice, probably is time to put it on core.

[2018-11-03 04:35] Saroufim opened #52 "Close Button on Firefox 65 Is Larger than the CSD"
With the update to Firefox 65, the close button overlaps the tabs bar and appears to have its own styling and color

[2018-11-03 17:06] rafaelmardojai commented on #52
Can you try my fork? https://github.com/rafaelmardojai/firefox-gnome-theme
It has some improvements and fixes, currently only works fine with gnome-3.26-light. Next week i will finish updating dark theme.

[2018-11-03 17:20] Saroufim commented on #52
I'm using the dark theme hence why the issue persists on your fork too. I'll wait for the fix next week then

[2018-11-04 16:57] rafaelmardojai commented on #52
Hey, can you test last changes in my fork?

![captura de pantalla de 2018-11-04 11-53-59](https://user-images.githubusercontent.com/6210397/47967161-77eaf280-e028-11e8-91a5-456bacbd19f2.png)

[2018-11-04 20:15] Saroufim commented on #52
The difference is there. The close button is almost inline with the rest but not perfectly.
![captura de pantalla de 2018-11-04 22-10-10](https://user-images.githubusercontent.com/4712288/47969375-13a74d80-e07f-11e8-9b11-df6021cdd1d2.png)

[2018-11-04 20:45] rafaelmardojai commented on #52
Can you give me more info about your system?
I can't reproduce the issue running FF65 over Fedora 28 / GTK 3.28.

[2018-11-04 20:55] rafaelmardojai commented on #52
Can you also provide me what lines do you have uncommented in your `userChrome.css`?

[2018-11-08 18:20] Saroufim commented on #52
Sorry for the delay in getting back to you. I just updated firefox today and the CSD is completely gone. It seems like the address bar and the tabs bar have been merged into one. I'm using Firefox 65 flatpak from Xhorak (https://github.com/xhorak/firefox-devedition-flatpak) on Fedora 29

[2018-11-08 19:08] rafaelmardojai commented on #52
Yeah, i noticed it yesterday.
Currently i don't know if i going to continue working on this. I have many issues with FF (performance, sound, etc) and i'm considering switch to Opera. If i stay, probably i will be doing a hard fork, because the original author has been inactive for 5 months.

[2018-11-14 15:47] lunakurame commented on #52
@rafaelmardojai, I stopped using GNOME and then I kinda stopped using Firefox too, I switched to [surf](https://surf.suckless.org) instead. I still have Firefox as my secondary browser, but I barely use it. If you decide to continue working on this theme, I can give you Collaborator permissions, so you can push directly to this repo and manage issues. If you want, of course.

[2018-12-15 18:04] smithfred commented on #52
@kurogetsusai - give me collab perms too if you can (I did a bunch of the fixes for GNOME 3.26 etc.)

[2018-12-15 18:10] smithfred commented on #32
Firefox 64 (at least on Fedora) has this bug fixed in the native theme. Unfortunately it seems to rely on a (new?) -moz-appearance, which breaks e.g. the background colour of the close button, at least on my frankenstein combination of this and my fixes "layer" - setting -moz-appearance to none for the close container squares that corner again.

But should be fixable now.

[2018-12-16 01:56] rafaelmardojai commented on #52
Currently i stopped using Firefox, at least until it works well for me. So no plans on working this theme on my side.

@smithfred if you will continue working on this theme, my fork have some fixes and improvements, and was working on FF stable last time i checked it.

[2018-12-16 13:10] lunakurame commented on #52
@smithfred Invite sent, welcome aboard! :D Feel free to push fixes for any issues you may find. Make sure the license of everything you push allows using it under the Unlicense (public domain), eg. I'm not sure about those icons you had in your repo the last time I checked it. But I also haven't checked it, so I don't know. Alternatively we can switch to GPL v3 if that makes it easier.

[2019-02-12 20:24] JaneSmith opened #53 "Doesn't work at all with CSDs on Firefox 65"
I'm running Firefox 65.0 on Arch Linux. If I have the Firefox titlebar enabled, then it works fine. However, if I disable the titlebar in order to have the CSD approach, I end up with this:

![screenshot from 2019-02-12 20-22-18](https://user-images.githubusercontent.com/10216091/52665662-04e4f800-2f04-11e9-8815-7104560d2c26.png)

As you can see, I have a completely blank headerbar. This happens i

[2019-02-13 17:03] rafaelmardojai commented on #53
This is a known issue. Firefox reworked its CSD and break this theme.

But nobody is working on this theme now so...

[2019-02-13 17:04] JaneSmith commented on #53
That's really disappointing. I loved this theme back it worked. It made Firefox into a great alternative to GNOME Web.

[2019-02-17 02:53] rafaelmardojai commented on #53
I decided to take this project again.
Please test last changes on repo.

Currently looks like this for me:
![captura de pantalla de 2019-02-16 21-52-27](https://user-images.githubusercontent.com/6210397/52907720-35df6880-3235-11e9-9bf4-fcbdd7f1e233.png)

[2019-02-17 02:54] rafaelmardojai commented on #52
Please test last changes on repo.

Currently looks like this for me:
![captura de pantalla de 2019-02-16 21-52-27](https://user-images.githubusercontent.com/6210397/52907720-35df6880-3235-11e9-9bf4-fcbdd7f1e233.png)

[2019-02-17 02:55] rafaelmardojai commented on #50
Fixed

[2019-02-17 02:55] #50 closed

[2019-02-17 02:55] #36 closed

[2019-02-17 03:00] rafaelmardojai opened #55 "Support new GNOME 3.32 theme"
I will work on this as soon as I get GNOME 3.32

[2019-02-17 07:20] Saroufim commented on #53
I can't seem to apply the updates. The old theme seems to be hardwired now. Even if I delete the chrome folder, Firefox won't revert back to its original look. I wonder if this is an issue with Flatpak or firefox.

[2019-02-17 10:43] acch commented on #53
Great @rafaelmardojai - thanks for your efforts!

Looks promising. Maximized firefox windows look perfect. However, with non-maximized windows the tabs seem to be too high and overlap the address bar for me:
![image](https://user-images.githubusercontent.com/11490209/52911782-05d1ad00-32a9-11e9-8799-905348aefc3d.png)

...but that's just a minor glitch. Firefox Gnome Theme is usable for me again.
B

[2019-02-17 13:37] rafaelmardojai commented on #53
@acch Fixed!

[2019-02-17 15:57] acch commented on #53
Awsome! Looks flawless to me.

[2019-02-17 23:36] #53 closed

[2019-02-18 03:50] #32 closed

[2019-02-20 19:06] rafaelmardojai commented on #53
@Saroufim i installed Firefox flatpak (https://firefox-flatpak.mojefedora.cz) and theme works like expected.

[2019-02-23 22:23] brudolp commented on #55
not sure not sure if you already know about it, but there is a way to render firefox widgets with the native gtk style
[here](https://gitlab.com/brudolp/firefox-css-gtk/raw/master/userChrome.css) is a project I made a while ago, the bottom half are native icons, you can ignore this
the simplified css is something like that:

.toolbarbutton-1{
  margin: 5px !important;
  -moz-appearance: button !im

[2019-02-24 17:17] rafaelmardojai commented on #55
@brudolp Yeah i know about it, but never considered it. Maybe can help to make code simpler.
Thanks for advice.

[2019-03-13 22:36] lionirdeadman opened #56 "Fullscreen bugs"
When fullscreen,

- Windows controls appear in the bottom bar
- With the titlebar removed, there's a weird space left.

![Screenshot-20190313182715-1280x1024](https://user-images.githubusercontent.com/39467792/54319066-bb4d0300-45be-11e9-8834-65242f47f20d.png)

[2019-04-20 15:50] rafaelmardojai commented on #56
Fixed.
![Captura de pantalla de 2019-04-20 10-45-20](https://user-images.githubusercontent.com/6210397/56459454-879d8f80-6359-11e9-9b2d-0ea5a6914ea2.png)

Pd: There is an issue when `hide-single-tab.css` is active, if you have a single tab, header bar will not shown when full screen is active.

[2019-04-20 16:45] rafaelmardojai commented on #56
Temporal fix for `hide-single-tab.css` ready.

[2019-04-20 16:45] #56 closed

[2019-04-20 17:39] #52 closed

[2019-05-04 16:01] JohannesKahl commented on #55
If it helps speeding up the work, i've been playing with the light theme recently:

[code]
Preview (i also replaced some icons with the Adwaita version):
[![3-32-light.png](https://i.postimg.cc/sX0mM1Sq/3-32-light.png)](https://postimg.cc/XGddhjsk)
[![focus-3-32-light.png](https://i.postimg.cc/QNYNMDz7/focus-3-32-light.png)](https://postimg.cc/kD8Pj0qM)

[2019-05-04 20:12] lionirdeadman opened #57 "Bookmark bar above tabs?"
Perhaps the bookmark bar could be moved up to be between the open tabs and titlebar?

[2019-05-05 04:04] rafaelmardojai commented on #55
@JohannesKahl looks awesome.
Next week i'm will working on this and other small fixes.

Pd: I was also thinking replace all firefox icons whit Adwaita ones. Do you think this should be default or an option?

[2019-05-05 04:12] rafaelmardojai commented on #57
I will check this next week.

[2019-05-05 04:18] JohannesKahl commented on #55
I think it's better to make it an option. While i was replacing them, i noticed that firefox uses animations in some of them (animations that i had to hide in the css). For example the reload/stop button draws an "X"  for a brief interval while the page is loading, the download button draws the progress of the current download, etc...

[2019-05-05 04:21] rafaelmardojai commented on #55
Yeah, that's why we still using FF icons. But what about menu, sidebar, new tab, home, etc?

[2019-05-05 04:24] JohannesKahl commented on #55
Static icons should be safe to replace. Eventually, replacing them could be default, and replacing the animated ones available as option.

[2019-05-05 22:52] willmtemple opened #58 "CSD Buttons on the Left"
On Firefox 66.0.3 for Fedora 30, I am using this theme, but I can't seem to get the titlebar buttons (close, maximize, and minimize) to go to the left side of the headerbar. This is different from Elementary (where the maximize button is on the right side and the close button is on the left), as all of my buttons are on the left.

They _do_ show in the correct order, with the close button on the l

[2019-05-05 23:44] rafaelmardojai commented on #58
Working on this.

[2019-05-06 00:44] rafaelmardojai commented on #58
![Captura de pantalla de 2019-05-05 19-43-27](https://user-images.githubusercontent.com/6210397/57202710-20452980-6f6e-11e9-8746-7cd01c03e883.png)
Here some progress.

[2019-05-07 02:49] rafaelmardojai commented on #58
![Captura de pantalla de 2019-05-06 21-45-52](https://user-images.githubusercontent.com/6210397/57268163-6373cb00-7048-11e9-9a1f-82f9e5692c10.png)
@willmtemple Looks good enough for you?
I'm going to push it to repo soon.

[2019-05-07 04:30] rafaelmardojai commented on #58
![Captura del escritorio de 06-05-19 22_22_47](https://user-images.githubusercontent.com/6210397/57271848-c53b3180-7056-11e9-8fdd-e07675c95971.gif)
@willmtemple Fixed, please test latest commits.

[2019-05-07 04:31] rafaelmardojai commented on #57
@lionirdeadman Fixed, please test latest changes.

[2019-05-07 16:44] willmtemple commented on #58
Working perfectly here. Thanks!

[2019-05-07 16:44] #58 closed

[2019-05-07 19:28] lionirdeadman commented on #57
Works, thank you.

[2019-05-07 19:28] #57 closed

[2019-05-30 09:50] folknor opened #59 "Heads up: userContent/userChrome to be gated by default-off pref"
https://bugzilla.mozilla.org/show_bug.cgi?id=1541233#c23

Should probably be added to the README at least.

[2019-06-01 08:42] aadilayub commented on #55
@JohannesKahl What version of Firefox are you using? I imported your css into my userChrome and wasn't able to achieve the same result as you

Specifically, I saved your css as `ui/gnome-3.32-light.css` and then imported it like this:
[code]

This is what my FF currently looks like with this css:
![image](https://user-images.githubusercontent.com/31581044/58746041-ff8bc900-8472-11e9-86da-6a9daeb53

[2019-06-01 08:43] alizehctl commented on #55
@JohannesKahl What version of Firefox are you using? I'm using the css you shared under Firefox 67 and wasn't able to replicate the same look in your screenshots

Specifically, I saved your css as `ui/gnome-3.32-light.css` and then imported it like this:

[code]

This is what my FF currently looks like with this css:
![image](https://user-images.githubusercontent.com/31581044/58746041-ff8bc900-847

[2019-06-01 08:53] JohannesKahl commented on #55
I've been using it with firefox 66 and 67. The snippet above was just meant to help sorting some colors differences with the new version of Adwaita, since i posted it this theme have been modified as well (i didn't catch up with the latest commits, not sure if changes on master require to rewrite the 3.32-light.css i posted).

If i can find some time to work on it, i could try to rewrite it with t

[2019-06-01 09:00] JohannesKahl commented on #55
@aadilayub  Also, make sure that these lines are at the top of your gnome-3.32-light.css :

[code]

[2019-06-01 09:09] alizehctl commented on #55
Thanks! Adding `@import "theme.css";` worked!

Just need to make the buttons a bit more rounded now.

![image](https://user-images.githubusercontent.com/31581044/58746354-d10fed00-8476-11e9-950c-02709cdbd8d9.png)

[2019-06-01 09:16] JohannesKahl commented on #55
Yeah, the border radius for buttons (and maybe other stuff i can't remember right now)require to create a variable to ensure compatibility with the other styles this theme offer - which, unfortunately in my version i didn't do, editing the values directly.
I'll look into that too, if hasn't been done in master already.

The values i edited should be in ui/parts/headerbar-buttons.css, for example:

[2019-06-01 09:38] alizehctl commented on #55
Yep, that seems to have fixed it! Thanks again for the help.

![image](https://user-images.githubusercontent.com/31581044/58746695-97d97c00-847a-11e9-8c95-41d0449490b2.png)

I tried setting `border-radius` to `var(--gnome-headerbar-button-border-radius);` and then adding `--gnome-headerbar-button-radius: 5px;` to `gnome-3.32-light.css`, but it seemed to have no effect.

[2019-06-01 09:46] JohannesKahl commented on #55
Try with:

`border-radius: var( --gnome-headerbar-button-border-radius ) !important;`

[2019-06-01 10:23] alizehctl commented on #55
That did the job!

Do you think this is good enough for a PR now?

[2019-06-01 10:46] JohannesKahl commented on #55
Almost: i need to try it with the latest version on master and most importantly polish the parts i wrote while experimenting.
Not sure if the colors are 100% accurate, but that can be fixed later.
Additional stuff i've put inside the theme:

- Remove the titlebar buttons separator in the CSD
- Hide the identity border on tabs for Firefox Containers (i'm interested in making this optional)
- Hide t

[2019-06-01 23:30] lionirdeadman opened #60 "Context menu theming"
Similar to https://github.com/muckSponge/MaterialFox/pull/58

This could be nice

[2019-06-01 23:34] lionirdeadman opened #61 "Volume and close button too close?"
Firefox :
![image](https://user-images.githubusercontent.com/39467792/58754692-18f93900-84a4-11e9-939b-95ef850a8f40.png)

Epiphany :
![image](https://user-images.githubusercontent.com/39467792/58754697-34644400-84a4-11e9-8ff9-213569a1a285.png)

[2019-06-02 00:22] lionirdeadman opened #62 "Discontinue parts of the project"
It seems that the project is missing people to work on it and as such, it seems that to keep the codebase working, it might be better to discontinue parts of it

Such as :

- Elementary CSD
- Gnome 3.16
- Gnome 3.26 (After 3.32 is released)
- Support for Firefox below 60 since that's the new ESR (and perhaps we should only support the latest firefox version, really)

[2019-06-02 10:03] alizehctl commented on #62
I agree. With regards to elementary CSD, there is already another project maintaining a highly accurate elementary theme for Firefox https://github.com/Zonnev/elementaryos-firefox-theme

[2019-06-02 15:01] rafaelmardojai commented on #62
I'm thinking about deprecating this repo and start a new one.
What do you thing guys?

[2019-06-02 15:03] rafaelmardojai commented on #60
Currently is themed, but following 3.26 style.

[2019-06-02 17:46] lionirdeadman commented on #62
What do you mean? @rafaelmardojai

[2019-06-02 18:27] rafaelmardojai commented on #62
@lionirdeadman I'm firefox-gnome-theme current maintainer. Original author is not involved any more.

I had created a new repo: https://github.com/rafaelmardojai/firefox-gnome-theme. It will be a hard fork.
I'm reworking the theme structure and code.

So i'm going to deprecate this repo soon for the new one.

[2019-06-02 18:50] lionirdeadman commented on #62
@rafaelmardojai Would it be worthwhile to join gnome-integration team instead? #9

Also a link from this repo to whichever new one would be appropriate if no one plans to support this repo, is that fine @kurogetsusai?

[2019-06-02 19:04] rafaelmardojai commented on #62
@kurogetsusai never wanted to join GNOME Integration Team so i will keep it like that.

She also stopped using GNOME and Firefox (https://github.com/kurogetsusai/firefox-gnome-theme/issues/52#issuecomment-438709654).
I do not think she has any problem if i put an advice on README.

[2019-06-02 19:12] lionirdeadman commented on #62
My understanding is Kuro didn't see the point of joining GNOME Integration Team, not that they didn't want it. Also, if you're taking it and doing an hard fork, there's no reason why you couldn't do it but up to you, I guess.

But yeah, I doubt it'll bother him if you put advice in the README, just checking since it seems you've not talked to them about it.

[2019-06-02 19:31] rafaelmardojai commented on #62
@lionirdeadman  You say talk with Kuro about it or with GNOME Integration Team?

[2019-06-02 20:04] lionirdeadman commented on #62
Yes, I meant talk to Kuro about the advice in the readme.

GNOME Integration Team invited us back in #9, I doubt they'd say no but I guess a ping to @garrett won't hurt to see if they still want us in the Integration Team.

[2019-06-02 20:54] rafaelmardojai commented on #62
Of course i will talk with her if finally i put an advice.

GNOME Integration Team looks pretty death. So i also doubt they'd say no if we're going to put some action there.

[2019-06-03 18:00] rafaelmardojai commented on #55
@JohannesKahl I'm working on a new hard fork here https://github.com/rafaelmardojai/firefox-gnome-theme. I'm dropping many things, and it only target latest adwaita version.

[2019-06-03 19:35] JohannesKahl commented on #55
@rafaelmardojai i've read about it in your reply on another issue, this morning, and i was waiting for a new repo to appear.
Thanks for warning me, i'll follow the new repo, and eventually collaborate whenever i can ;)

[2019-07-12 23:21] Tzedekh commented on #20
Hate to resurrect an old thread, but I successfully used your CSS with Firefox until the underpinnings of the Quantum Bar were introduced with Firefox 68. Have you given any thought to updating it? I like to constrain the results dropdown to the width of the URL bar.

[2019-07-12 23:54] rafaelmardojai commented on #20
@Tzedekh, this theme is almost unmaintained, now i'm working here: https://github.com/rafaelmardojai/firefox-gnome-theme.

But if you want to continue using this repo for GNOME 3.28 style i can consider pushing a fix.

[2019-07-13 20:14] btd1337 opened #63 "Question: Buttons in window without the titlebar"
Is it possible to have the `minimize` and `maximize` icon buttons in a window without the titlebar?

**With Titlebar**
![Captura de tela de 2019-07-13 17-11-28](https://user-images.githubusercontent.com/11943860/61176100-4b14b500-a591-11e9-8136-c9bb57b5bd4f.png)

**Without Titlebar**
![Captura de tela de 2019-07-13 17-11-09](https://user-images.githubusercontent.com/11943860/61176101-4b14b500-a591

[2019-07-13 20:25] rafaelmardojai commented on #63
This theme is almost unmaintained, now i'm working here: https://github.com/rafaelmardojai/firefox-gnome-theme.

But if you want to continue using this repo for GNOME 3.28 style i can consider pushing a fix.

[2019-07-14 01:14] btd1337 commented on #63
In the other repository is all ok! Thanks man!

[2019-07-14 01:14] #63 closed

[2019-09-05 18:42] Millie290 opened #64 "Quit Minimize ect... buttons displayed on a little bar on the top of url adress"
All in title a little picture :
![bug firefox gnometheme](https://user-images.githubusercontent.com/44525457/64369932-9ab9af00-d01d-11e9-8b0a-859e5b0246cf.png)

[2019-09-05 20:55] rafaelmardojai commented on #64
This theme is unmaintained, try with https://github.com/rafaelmardojai/firefox-gnome-theme

[2019-09-07 12:16] #64 closed

[2020-04-18 04:14] psychoslave opened #65 "The authorization popup for allowing use of camera and micro won't show"
Hello,

It seems that the theme prevent the display of popup  for allowing use of camera and micro.

To reproduce it, go for example to https://meet.jit.si/gnome-firefox-theme

At least for me, it doesn't show any popup, as it should do. So the service can't be used. Running Firefox with an other profile without firefox-gnome-theme (`Firefox -P`) doesn't come with such a defect. Interference cause

[2020-04-21 14:51] rafaelmardojai commented on #65
All work fine on my side.

![Captura de pantalla de 2020-04-21 09-44-07](https://user-images.githubusercontent.com/6210397/79880201-4e0cc380-83b5-11ea-97b7-d947d0220895.png)

[2020-04-21 14:53] rafaelmardojai commented on #65
This theme is unmaintained. Please try with new upstream https://github.com/rafaelmardojai/firefox-gnome-theme. If issue persists open an issue there.

[2020-04-25 08:06] psychoslave commented on #65
Ok, I'll do that.

[2020-04-25 08:06] #65 closed

[2020-04-25 08:19] psychoslave commented on #65
@rafaelmardojai actually I was using the right repository in my install. It's only the issue place that I mistargeted. Thus said, I went into the chrome directory, checkout master, pulled the last version, restarted firefox, and thereafter was unable to reproduce the bug. So it's seem like there is no reason to duplicate the issue in the maintained repository.